#entryForm{
	background-color: #e3fffe;
	padding: inherit;
}

iron-icon#icon{
	width: 20px;
	height: 20px;
	color: #1f3d7a;
	margin-right: 10px;
}

vaadin-tab#tab{
	color:#1f3d7a;
}

#recurringform, #inviteform{
	height: 300px;
}

#cont{
	font-size: 15px;
	padding-top: 40px;
	color:black;
}

#add, #plus{
	cursor:pointer;
	width: 30px;
	height: 30px;
	color: #1f3d7a;
}

#addnewfriends{
	color:black;
}