#profile-view{
	padding: 30px;
	background-color: #e6eeff;
}

#infocontainer {
	border-radius: 20px;
	background-color: #ffff;
}

#formcontainer {
	border-radius: 20px;
	background-color: #ffff;
}

img#avatar {
  border-radius: 50%;
  height: var(--lumo-size-s);
  overflow: hidden;
  margin-left: 5px;
  margin-top: 26px;
}
