#profile-view{
	background-color: #e6eeff;
}

#profile, #newUserForm, #passwordForm {
	border-radius: 10px;
	background-color: #ffff;
	box-shadow: black;
	box-shadow: 2px 1px 5px 0px grey;
}

vaadin-tab#tab{
	color:#1f3d7a;
}

iron-icon#avatar, #users, #settings{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

input{
	color: black;
}