#header {
  height: var(--lumo-size-s);
}

#header h1 {
  font-size: var(--lumo-font-size-l);
  margin-top: 50px;
  color: white;
}

#logout{
	margin-left: auto;
	margin-top: 50px;
}

#header img#avatar {
  border-radius: 50%;
  height: var(--lumo-size-s);
  margin-right: var(--lumo-space-l);
  overflow: hidden;
  margin-left: auto;
}

#header img#logo {
  height: var(--lumo-size-l);
  margin: 0 var(--lumo-space-s);
  margin-top: 30px;
}

vaadin-app-layout[dir='rtl'] vaadin-horizontal-layout #header{
  margin-left: var(--lumo-space-m);
  margin-right: auto;
}

vaadin-tab {
  font-size: var(--lumo-font-size-s);
  height: var(--lumo-size-l);
  font-weight: 600;
  color: white;
}

vaadin-tab:hover {
  color: #2952a3;
}

vaadin-tab[selected] {
  background-color: var(--lumo-primary-color-10pct);
  color: #1ad1ff;
}