#container{
	box-shadow: black;
	box-shadow: 2px 1px 5px 0px grey;
	max-width: 400px;
	overflow: auto;
	background-color: #ecf2f9;
}

#card{
	background: #ffff;
	box-shadow: black;
	box-shadow: 4px 1px 5px 0px grey;
}

span#label,#title{
	font-weight: bold;
}

span#value{
	font-size: 12px;
}

#btnremove{
	margin-left: auto;
	color: #1f3d7a;
}

#titleCont{
	width:350px;
}