#container {
	box-shadow: black;
	box-shadow: 2px 1px 5px 0px grey;
	max-width: 420px;
	overflow: auto;
	background-color: #ecf2f9;
}

#titleCard {
	font-size: 14px;
	font-weight: bold;
}

#card {
	background: #ffff;
	box-shadow: black;
	box-shadow: 4px 1px 5px 0px grey;
}

span#label {
	font-size: 14px;
	color: black;
}

span#value {
	font-size: 13px;
	color: rgb(75, 75, 75);
}

#close {
	cursor: pointer;
}

#title {
	color: #1f3d7a;
	font-size: 17px;
	font-style: italic;
}

#info {
	color: #1f3d7a;
	width: 13px;
	height: 13px;
	margin-right: 10px;
}

#bell {
	color: #FFD700;
}

#btnnotify{
	margin-left: auto;
	color: #e6b800;
	cursor: pointer;
	background-color: white;
	border-radius: 12px;
	border: 1px solid #f4f5ef;
	box-shadow: 2px 1px 2px 0px grey;
}

#btnnotify:hover {
	color:  #FFD700;
}

#titleCont {
	width: 370px;
}