#resource-view{
	background-color: #e6eeff;
}

#container-icons {
	margin-left: auto;
}

#grid{
	align-items: center;
	font-size: 14px;
}

#numberRes {
	color: white;
	border-radius: 50%;
	background-color: #1f3d7a;
	height: 20px;
	width: 20px;
	padding: 2px;
	font-size: 12px;
	display: inline-block;
	text-align: center;
}