#login-view{
	background: #e6eeff;
}

.login-information {
    min-width: 300px;
    flex: 0;
    background: #1f3d7a;
}

#logo-login{
	height: var(--lumo-size-l);
  	margin: 0 var(--lumo-space-s);
}

#conttitle{
	color:white;
	margin-top: 25%;
	font-weight: bold;
	font-size: 30px;
	font-style: oblique;
}

#info-login{
	color:white;
	margin-top: 20%;
	font-size: 23px;
	font-style: oblique;
}

/* Stack login-screen vertically on narrow screen */
@media (max-width: 800px) {

    .login-screen {
        flex-direction: column;
    }

    .login-information {
        display: block;
    }
}

body {

    /* Used by the menu and form overlays */
    --overlay-box-shadow: 0 0 3px 2px var(--lumo-contrast-10pct);
}
